.SobreNos{
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    align-items: center;
    background-color: #FFF2D9;
    font-family: sans-serif;
    
    
}
#paragrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #FFF2D9;
    font-family: sans-serif;
}